AzureWebJobsStorage = ""
AZ_STORAGE_MARKET_CS = ""
API_KEY = "test"
EG_TASKS_ENDPOINT = "https://localhost:443"
EG_TASKS_KEY = "test"
EG_LOG_ENDPOINT = "https://localhost:443"
EG_LOG_KEY = "test"
DB_API_ENDPOINT = ""
DB_API_ACCESS_KEY = ""
CONNECTOR_API_ENDPOINT = "http://localhost:8109/api/graphql"
CONNECTOR_API_KEY = "test"
DEBUG = true